dist_electron/mac/Electron.app/Contents/Frameworks/Electron[[:space:]]Framework.framework/Versions/A/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
dist_electron/mac/Electron.app/Contents/Resources/app.asar filter=lfs diff=lfs merge=lfs -text
