@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* تخصيص Placeholder لحقول الإدخال */
input::placeholder {
  direction: rtl;
  text-align: right;
}

textarea::placeholder {
  direction: rtl;
  text-align: right;
}

/* خاص بحقول إدخال الهاتف */
input[inputmode="tel"]::placeholder {
  direction: rtl !important;
  text-align: right !important;
} 